* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Playfair Display;
  color: #969696;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 44px;
  padding: 14px 0px;
}
.header__active{
  background-color: #0f0f0f;
  transform: translateX(-100%);
  z-index: 11;
}
.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}
.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.burger__line_first {
  top: 0;
}
.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line_third {
  bottom: 0;
}

.contacts {
  img {
    transform: translateY(2px);
  }
}

.login {
  img {
    transform: translateY(2px);
  }
}

.login-button {
  background: black;
  border: none;
  color: #969696;
}

.nav {
  background-color: #0f0f0f;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 80%;
  margin: auto;
  img {
    transform: translateY(100%);
  }
}
.nav-links {
  display: flex;
  a {
    padding: 30px 20px;
    background-color: #0f0f0f;
    border: none;
    color: #969696;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    img {
      transform: translateY(-10%);
    }
    &:hover,
    &:active {
      background-color: #1f1f1f;
      color: #ffffff;
    }
  }
}

// header ends

// intro starts

.intro {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/img/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100%;
  img {
    display: block;
    margin: auto;
    transform: translateY(25%);
  }
  p {
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    margin: auto;
    text-align: center;
    width: 70%;
    text-transform: uppercase;
  }
}

//  intro ends

// collection starts
.collection-grid {
  display: flex;
}
.showcase {
  width: 55vw;
  height: 75vh;
  h2 {
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    padding: 93px 332px 50px 332px;
    text-align: center;
    span {
      display: block;
      border-bottom: 1px solid white;
      width: 30%;
      padding-bottom: 50px;
      margin: auto;
    }
  }
}

.items {
  display: flex;
  justify-content: space-around;
  margin: auto;

  .item-demo {
    background-color: #191b1c;
    padding: 55px 22px;
    margin-bottom: 25px;
  }
  img {
    background-color: #191b1c;
    width: 215px;
    height: 214px;
  }
  .item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    &:first-child {
      margin-left: 50px;
    }
    &:last-child {
      margin-right: 50px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    &:hover,
    &:active {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
      border-radius: 10px;
    }
  }
}

.new-collection {
  background-color: gradient(
    0deg,
    rgba(15, 15, 15, 0.5),
    rgba(15, 15, 15, 0.5)
  );
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/img/collection-first.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 45vw;
  height: 75vh;
  position: relative;
  h2 {
    color: #ffffff;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    position: absolute;
    bottom: 25%;
    left: 30%;
    span {
      display: block;
      border-bottom: 1px solid white;
      width: 50%;
      padding-bottom: 30px;
      transform: translateX(50%);
    }
  }
  a {
    border: 2px solid #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 12%;
    left: 43.5%;
    transition: 0.5s;
    &:hover {
      background-color: #1f1f1f;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
  }
}

.old-showcase {
  display: flex;
}

.oldCollection-pic {
  background-color: gradient(
    0deg,
    rgba(15, 15, 15, 0.5),
    rgba(15, 15, 15, 0.5)
  );
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/img/collection-second.jpg);
  width: 45%;
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.oldCollection {
  width: 55vw;
  height: 60vh;
  text-align: center;
  position: relative;
  h2 {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 100px;
    span {
      display: block;
      border-bottom: 1px solid white;
      width: 10%;
      padding-bottom: 30px;
      margin: auto;
    }
  }
  p {
    margin: auto;
    width: 471px;
    height: 173px;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    padding-top: 40px;
  }
  a {
    border: 2px solid #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 12%;
    left: 35%;
    transition: 0.5s;
    &:hover {
      background-color: #1f1f1f;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
  }
}

//  collection ends

// new-items starts

.new-items {
  width: 100%;
  height: 110vh;
  margin-bottom: 150px;
  h2 {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 40px;
    span {
      display: block;
      border-bottom: 1px solid white;
      width: 10%;
      padding-bottom: 30px;
      margin: auto;
    }
  }
}
.items-container {
  width: 75vw;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: auto;
  .item-demo {
    background-color: #191b1c;
    padding: 55px;
    margin-bottom: 25px;
  }
  img {
    background-color: #191b1c;
    width: 215px;
    height: 214px;
  }
  .item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin: 40px 20px;
    &:first-child,
    &:nth-child(5) {
      margin-left: 0;
    }
    &:last-child,
    &:nth-child(4) {
      margin-right: 0;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    &:hover,
    &:active {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
      border-radius: 10px;
    }
  }
}

// new-items ends

// brands start
.brands {
  width: 100%;
  height: 40vh;
  background: #0f0f0f;
  h2 {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 40px;
    span {
      display: block;
      border-bottom: 1px solid white;
      width: 10%;
      padding-bottom: 30px;
      margin: auto;
    }
  }
}
.brand-logo-container {
  width: 75vw;
  height: 10vh;
  margin: auto;
  padding-left: 12em;
}

// brands end

// footer starts

.footer {
  background-color: gradient(
    0deg,
    rgba(15, 15, 15, 0.5),
    rgba(15, 15, 15, 0.5)
  );
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/img/footer-pic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  margin: auto;
}
.info {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
  p {
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
  }
}
.filter {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
}
.filter-buttons_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  button {
    background-color: #0f0f0f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px;
    &:nth-child(4) {
      grid-column: span 2;
    }
  }
}

.mail {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 40px;
  }
  p {
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
  }
  div {
    button {
      width: 210px;
      height: 42px;
      background: #0f0f0f;
      width: 140px;
      height: 42px;
      color: white;
      border: none;
    }
  }
}
.email {
  background: rgba(255, 255, 255, 0.4);
  width: 210px;
  height: 42px;
  border: none;
  &::placeholder {
    color: white;
  }
}
// footer ends

// media starts

@media screen and (max-width: 768px) {
  .collection-grid {
    flex-direction: column;
  }
  .showcase {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .items {
    flex-direction: column;
    .item {
      flex-direction: column;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .new-collection {
    width: 100%;
    height: 75vh;
    a {
      left: 45%;
    }
  }

  .old-showcase {
    flex-direction: column;
  }

  .oldCollection-pic {
    width: 100%;
  }
  .oldCollection {
    width: 100%;
    a {
      left: 30%;
    }
  }

  .new-items {
    width: 100%;
    height: 100%;
  }
  .items-container {
    width: 75vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      width: 50%;
    }
    .item-demo {
      padding: 40px;
    }
    .item {
      margin: 20px 0px;
    }
  }

  .brands {
    width: 100%;
    height: 100%;
  }
  .brand-logo-container {
    width: 100%;
    height: 100%;
    padding: 10px 15%;
  }
  // here
  .filter-buttons_grid {
    display: flex;
    flex-direction: column;
    button {
      padding: 10px;
      margin: 10px;
    }
  }
  .mail {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 0;
    h2 {
      padding-top: 32px;
    }
  }
  .email {
    width: 180px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    display: flex;
    position: absolute;
    width: 100vw;
    flex-wrap: wrap;
    margin: auto;
    height: 15vh;
    padding: 14px;
    transform: translateX(300%);
  }

  .header__burger{
    display: block;
    position: absolute;
    right: 2%;
    top: 3.5%;
  }

  .nav {
    background-color: #0f0f0f;
  }
  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 90vw;
    margin: auto;
    img {
      transform: translateY(100%);
    }
  }
  .nav-links {
    transform: translateX(300%);
    display: flex;
    flex-direction: column;
}
}