* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Playfair Display;
  color: #969696;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  margin: auto;
  height: 44px;
  padding: 14px 0px;
}

.contacts {
  img {
    transform: translateY(2px);
  }
}

.login {
  img {
    transform: translateY(2px);
  }
}

.login-button {
  background: black;
  border: none;
  color: #969696;
}

.nav {
  background-color: #0f0f0f;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 1080px;
  margin: auto;
  img {
    transform: translateY(100%);
  }
}
.nav-links {
  display: flex;
  a {
    padding: 30px 20px;
    background-color: #0f0f0f;
    border: none;
    color: #969696;
    text-transform: uppercase;
    transition: 0.5s;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    img {
      transform: translateY(-10%);
    }
    &:hover,
    &:active {
      background-color: #1f1f1f;
      color: #ffffff;
    }
  }
}

// header ends

// intro starts

.intro {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/img/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100%;
  img {
    display: block;
    margin: auto;
    transform: translateY(25%);
  }
  p {
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    margin: auto;
    text-align: center;
    width: 730px;
    text-transform: uppercase;
  }
}

//  intro ends

// collection starts
.collection-grid {
  display: flex;
}
.showcase {
  width: 1040px;
  height: 730px;
  h2 {
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    padding: 93px 332px 50px 332px;
    text-align: center;
    span {
      display: block;
      border-bottom: 1px solid white;
      width: 50%;
      padding-bottom: 50px;
      transform: translateX(50%);
    }
  }
}

.items {
  display: flex;
  justify-content: space-around;
  margin: auto;

  .item-demo {
    background-color: #191b1c;
    padding: 55px 22px;
    margin-bottom: 25px;
  }
  img {
    background-color: #191b1c;
    width: 215px;
    height: 214px;
  }
  .item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    &:first-child {
      margin-left: 50px;
    }
    &:last-child {
      margin-right: 50px;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }
    &:hover,
    &:active {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
      border-radius: 10px;
    }
  }
}

.new-collection {
  background-color: gradient(
    0deg,
    rgba(15, 15, 15, 0.5),
    rgba(15, 15, 15, 0.5)
  );
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(/img/collection-first.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 880px;
  height: 730px;
  position: relative;
  h2 {
    color: #ffffff;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    position: absolute;
    bottom: 25%;
    left: 30%;
    span {
      display: block;
      border-bottom: 1px solid white;
      width: 50%;
      padding-bottom: 30px;
      transform: translateX(50%);
    }
  }
  a {
    border: 2px solid #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 12%;
    left: 43.5%;
    transition: 0.5s;
    &:hover {
      background-color: #1f1f1f;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }
  }
}
